In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_csv('hotel_bookings.csv')

In [3]:
df1.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [4]:
df1['babies'].unique()

array([ 0,  1,  2, 10,  9], dtype=int64)

In [5]:
df2 = df1[df1['babies']<=2]

In [6]:
df2['adults'].unique()

array([ 2,  1,  3,  4, 40, 26, 50, 27, 55,  0, 20,  6,  5, 10],
      dtype=int64)

In [7]:
df2.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [8]:
df2[df2['adults']==0].groupby('hotel').count()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
hotel,,,,,,,,,,,,,,,,,,,,,
City Hotel,390,390,390,390,390,390,390,390,390,390,...,390,322,25,390,390,390,390,390,390,390
Resort Hotel,13,13,13,13,13,13,13,13,13,13,...,13,4,6,13,13,13,13,13,13,13

In [9]:
df2[(df2['adults'] == 0) | (df2['adults'] >= 20)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
1539,Resort Hotel,1,304,2015,September,36,3,0,3,40,...,No Deposit,NaN,NaN,0,Group,0.00,0,0,Canceled,2015-01-02
1587,Resort Hotel,1,333,2015,September,36,5,2,5,26,...,No Deposit,96.0,NaN,0,Group,0.00,0,0,Canceled,2015-01-02
1643,Resort Hotel,1,336,2015,September,37,7,1,2,50,...,No Deposit,NaN,NaN,0,Group,0.00,0,0,Canceled,2015-01-18
1752,Resort Hotel,1,340,2015,September,37,12,2,5,26,...,No Deposit,96.0,NaN,0,Group,0.00,0,0,Canceled,2015-01-02
1884,Resort Hotel,1,347,2015,September,38,19,2,5,26,...,No Deposit,96.0,NaN,0,Group,0.00,0,0,Canceled,2015-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117204,City Hotel,0,296,2017,July,30,27,1,3,0,...,No Deposit,9.0,NaN,0,Transient,98.85,0,1,Check-Out,2017-07-31
117274,City Hotel,0,276,2017,July,31,30,2,1,0,...,No Deposit,9.0,NaN,0,Transient,93.64,0,2,Check-Out,2017-08-02
117303,City Hotel,0,291,2017,July,30,29,2,2,0,...,No Deposit,9.0,NaN,0,Transient,98.85,0,1,Check-Out,2017-08-02
117453,City Hotel,0,159,2017,July,31,31,1,3,0,...,No Deposit,9.0,NaN,0,Transient,121.88,0,1,Check-Out,2017-08-04
118200,City Hotel,0,10,2017,August,32,12,2,2,0,...,No Deposit,NaN,NaN,0,Transient-Party,6.00,0,1,Check-Out,2017-08-16

In [10]:
len(df2)

119388

In [11]:
df3 = df2.drop(df2[df2['adults'] == 0].index)

In [12]:
df3

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [13]:
df4 = df3.drop(df3[df3['adults'] >= 20].index)

In [14]:
df4.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [15]:
len(df3)

118985

In [16]:
len(df4)

118973

In [17]:
df4.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [18]:
df4['is_canceled'].value_counts()

is_canceled
0    74870
1    44103
Name: count, dtype: int64

In [19]:
df4['hotel'].value_counts()

hotel
City Hotel      78938
Resort Hotel    40035
Name: count, dtype: int64

In [20]:
df4['adults'].groupby(df4['hotel']).value_counts()

hotel         adults
City Hotel    2         58254
              1         15878
              3          4775
              4            31
Resort Hotel  2         31425
              1          7148
              3          1427
              4            31
              5             2
              6             1
              10            1
Name: count, dtype: int64

In [21]:
df4['babies'].unique()

array([0, 1, 2], dtype=int64)

In [22]:
df4['babies'].value_counts()

babies
0    118061
1       897
2        15
Name: count, dtype: int64

In [23]:
df4['children'].value_counts()

children
0.0     110602
1.0       4857
2.0       3444
3.0         65
10.0         1
Name: count, dtype: int64

In [24]:
df5 = df4.replace(0.0,0)

In [25]:
df6 = df5.replace(1.0,1)

In [26]:
df7 = df6.replace(3.0,3)

In [27]:
df7['children'].value_counts()

children
0.0     110602
1.0       4857
2.0       3444
3.0         65
10.0         1
Name: count, dtype: int64

In [28]:
df8 = df7.drop(df7[df7['children'] == 10 ].index)

In [29]:
df8['children'].value_counts()

children
0.0    110602
1.0      4857
2.0      3444
3.0        65
Name: count, dtype: int64

In [30]:
df8.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [31]:
df8['children'].value_counts()

children
0.0    110602
1.0      4857
2.0      3444
3.0        65
Name: count, dtype: int64

In [32]:
len(df8)

118972

In [33]:
df8.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              478
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16256
company                           112206
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [37]:
df9 = df8.drop(['arrival_date_week_number','arrival_date_day_of_month' ,'stays_in_weekend_nights' ,'stays_in_week_nights' ,'meal' ,'distribution_channel'
                ,'is_repeated_guest' ,'previous_cancellations' ,'previous_bookings_not_canceled' ,'booking_changes' ,'deposit_type' ,'agent' ,'company' 
                ,'days_in_waiting_list' ,'customer_type' ,'adr' ,'required_car_parking_spaces' ,'total_of_special_requests'],axis='columns')

In [39]:
df9['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [40]:
df9.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,adults,children,babies,country,market_segment,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,2,0.0,0,PRT,Direct,C,C,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,2,0.0,0,PRT,Direct,C,C,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,1,0.0,0,GBR,Direct,A,C,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,1,0.0,0,GBR,Corporate,A,A,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,2,0.0,0,GBR,Online TA,A,A,Check-Out,2015-07-03

In [43]:
df9.dtypes

hotel                       object
is_canceled                  int64
lead_time                    int64
arrival_date_year            int64
arrival_date_month          object
adults                       int64
children                   float64
babies                       int64
country                     object
market_segment              object
reserved_room_type          object
assigned_room_type          object
reservation_status          object
reservation_status_date     object
dtype: object

In [45]:
df9.isnull().sum()

hotel                        0
is_canceled                  0
lead_time                    0
arrival_date_year            0
arrival_date_month           0
adults                       0
children                     4
babies                       0
country                    478
market_segment               0
reserved_room_type           0
assigned_room_type           0
reservation_status           0
reservation_status_date      0
dtype: int64

In [47]:
df9['country'].value_counts()

country
PRT    48426
GBR    12104
FRA    10376
ESP     8546
DEU     7271
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: count, Length: 177, dtype: int64

In [49]:
df9['country'].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [63]:
df10 = df9.dropna()

In [65]:
df10.isnull().sum()

hotel                      0
is_canceled                0
lead_time                  0
arrival_date_year          0
arrival_date_month         0
adults                     0
children                   0
babies                     0
country                    0
market_segment             0
reserved_room_type         0
assigned_room_type         0
reservation_status         0
reservation_status_date    0
dtype: int64

In [66]:
len(df10)

118490

In [68]:
df10['reserved_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'B'], dtype=object)

In [69]:
df10['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'L', 'K'],
      dtype=object)

In [70]:
df10['lead_time']

0         342
1         737
2           7
3          13
4          14
         ...
119385     23
119386    102
119387     34
119388    109
119389    205
Name: lead_time, Length: 118490, dtype: int64

In [74]:
df11 = df10.drop('market_segment',axis ='columns')

In [75]:
df11

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,2,0.0,0,BEL,A,A,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,3,0.0,0,FRA,E,E,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,2,0.0,0,DEU,D,D,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,2,0.0,0,GBR,A,A,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,2,0.0,0,DEU,A,A,Check-Out,2017-09-07

In [76]:
df12 = df11.drop('lead_time',axis ='columns')

In [77]:
df12

,hotel,is_canceled,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date
0,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
1,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
2,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02
3,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02
4,Resort Hotel,0,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,2017,August,2,0.0,0,BEL,A,A,Check-Out,2017-09-06
119386,City Hotel,0,2017,August,3,0.0,0,FRA,E,E,Check-Out,2017-09-07
119387,City Hotel,0,2017,August,2,0.0,0,DEU,D,D,Check-Out,2017-09-07
119388,City Hotel,0,2017,August,2,0.0,0,GBR,A,A,Check-Out,2017-09-07
119389,City Hotel,0,2017,August,2,0.0,0,DEU,A,A,Check-Out,2017-09-07

In [78]:
df12.to_csv('training_data.csv', index=False)